page-comment {
    img {
        border-radius: 50%;
        width: 75px;
        height: auto;
        margin-right: 15px;
    }
    #perfil_photo{
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
}
