<ion-header>

    <ion-navbar>
      <ion-title>Comentário</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-row>
            <ion-col col-3>
              <ion-avatar item-start>
                <img src="assets/icon/doria.jpg">
              </ion-avatar>
            </ion-col>
            <ion-col col-9>
              <h4>Tiago</h4>
              <p>I've had a pretty messed up day. If we just...</p>
            </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
          <ion-row>
                <ion-col col-3>
                  <ion-avatar item-start>
                    <img src="assets/icon/doria.jpg">
                  </ion-avatar>
                </ion-col>
                <ion-col col-9>
                  <h4>Tiago</h4>
                  <p>I've had a pretty messed up day. If we just...</p>
                </ion-col>
            </ion-row>
          </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-list inset>
    <ion-item>
      <ion-input type="text"></ion-input>
      <button  item-right>Comentar</button>
    </ion-item>
  </ion-list>
</ion-footer>