<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row>
        <ion-col col-4><button ion-button menuToggle id="icon-lef"><ion-icon ios="ios-menu" md="md-menu" id="icon-lef"></ion-icon></button></ion-col>
        <ion-col col-4  id="name">Educandu!</ion-col>
        <ion-col col-4><ion-icon ios="ios-calendar" md="md-calendar" id="icon-right"></ion-icon></ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col col-12>
          <ion-card>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/icon/perfil.jpg">
              </ion-avatar>
                <h2>Luan Menezes</h2>
                <p>18 de Janeiro</p>
            </ion-item>
            <ion-card-content>
              <ion-card-title>
                Recomendação de Livro
                </ion-card-title>
              <p>
                Alguém conhece algum livro interessante de aprendizagem de máquina? Socorro!
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-12>
            <ion-card>
              <ion-item>
                <ion-avatar item-start>
                  <img src="assets/icon/perfil.jpg">
                </ion-avatar>
                  <h2>Luan Menezes</h2>
                  <p>18 de Janeiro</p>
              </ion-item>
              <ion-card-content>
                <ion-card-title>
                  Nine Inch Nails Live
                  </ion-card-title>
                <p>
                  The most popular industrial group ever, and largely
                  responsible for bringing the music to a mass audience.
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-12>
              <ion-card>
                <ion-item>
                  <ion-avatar item-start>
                    <img src="assets/icon/perfil.jpg">
                  </ion-avatar>
                    <h2>Luan Menezes</h2>
                    <p>18 de Janeiro</p>
                </ion-item>
                <ion-card-content>
                  <ion-card-title>
                    Nine Inch Nails Live
                    </ion-card-title>
                  <p>
                    The most popular industrial group ever, and largely
                    responsible for bringing the music to a mass audience.
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-12>
                <ion-card>
                  <ion-item>
                    <ion-avatar item-start>
                      <img src="assets/icon/perfil.jpg">
                    </ion-avatar>
                      <h2>Luan Menezes</h2>
                      <p>18 de Janeiro</p>
                  </ion-item>
                  <ion-card-content>
                    <ion-card-title>
                      Nine Inch Nails Live
                      </ion-card-title>
                    <p>
                      The most popular industrial group ever, and largely
                      responsible for bringing the music to a mass audience.
                    </p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col col-12>
                  <ion-card>
                    <ion-item>
                      <ion-avatar item-start>
                        <img src="assets/icon/perfil.jpg">
                      </ion-avatar>
                        <h2>Luan Menezes</h2>
                        <p>18 de Janeiro</p>
                    </ion-item>
                    <ion-card-content>
                      <ion-card-title>
                        Nine Inch Nails Live
                        </ion-card-title>
                      <p>
                        The most popular industrial group ever, and largely
                        responsible for bringing the music to a mass audience.
                      </p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
      </ion-row>
  <ion-fab right bottom>
    <button ion-fab color="educandu_clight"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="createGroup()"><ion-icon name="pin"></ion-icon></button>
      <button ion-fab (click)="createGroup()"><ion-icon name="people"></ion-icon></button>
    </ion-fab-list>
</ion-fab>
</ion-content>
