page-profile {
    
    shrinking-segment-header {

        background-color: #2b92a7;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 50%;
            width: 75px;
            height: auto;
            margin-right: 15px;
        }
        .segment{
            border-color: #e40e3d;
            color: #222;
            opacity: 1;
        }
        .perfil_text{
            text-align: center;
            padding: 0;
        }
        #perfil_photo{
            display: block;
            margin-left: auto;
            margin-right: auto 
        }

    }
    .grid_content{
        height: 150px;
    }
    #perfil_photo {
        top: -5px;
        background: black;
        display: block;
        margin-left: auto;
        margin-right: auto ;
    }
    .perfil_text {
        margin-top: 0px;
    }
}
