<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/imgs/1.png"/>
    <div class="card-title">Direito</div>
    <!-- <div class="card-subtitle">41 Listings</div> -->
  </ion-card>

  <ion-card>
    <img src="assets/imgs/2.png"/>
    <div class="card-title">Saude</div>
    <!-- <div class="card-subtitle">64 Listings</div> -->
  </ion-card>

  <ion-card>
    <img src="assets/imgs/3.png"/>
    <div class="card-title">Programacao</div>
    <!-- <div class="card-subtitle">72 Listings</div> -->
  </ion-card>

  <ion-card>
    <img src="assets/imgs/4.png"/>
    <div class="card-title">Musica</div>
    <!-- <div class="card-subtitle">28 Listings</div> -->
  </ion-card>

</ion-content>

