<ion-content>
    <h1>Angular 2 + Google Maps Places Autocomplete</h1>
    
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search formControl="searchControl">
</ion-content>

