<ion-content padding id="login">
  <ion-grid>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <img src="assets/imgs/educando_logo.png" class="logo"/>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>
  <button *ngIf="loggedIn" (click)="logout()">logout</button>
  <form *ngIf="!loggedIn" [formGroup]="form">
    <ion-grid>
      
      <ion-row>
        <ion-col  col-12>
          <ion-list >
            <ion-item class="box-login">
              <ion-input class="login_input" [(ngModel)]="email" placeholder="Email" type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item class="box-login" >
              <ion-input class="login_input" [(ngModel)]="password" placeholder="Senha" type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <button ion-button color="educandu_dark" (click)="login()" [disabled]="!form.valid">Entrar</button>
    </ion-grid>
  </form>
  <hr class="hr-text" data-content="ou">
  <ion-grid>
    <ion-row>
      <button color="educandu_dark" ion-button block (click)="pushPage()">Registre-se</button>
      <ion-col col-6>
        <button
               class="button"
               ion-button
               block
               padding-vertical
               color="primary"
               (click)="LoginFacebook()">
                <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
                <p>acebook</p>
            </button>
      </ion-col>
      <ion-col col-6>
        <button
               class="button"
               ion-button

               block
               padding-vertical
               block outline
               color="google"
               (click)="LoginGoogle()">

                  <ion-icon ios="logo-google" md="logo-google"></ion-icon>
                  oogle
            </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
