<ion-header>
  <ion-navbar color="educandu_dark">
      <ion-title>
        Grupo
      </ion-title>
  </ion-navbar>
  
  <shrinking-segment-header scrollArea="myContent" headerHeight="150">
    <ion-grid class="grid_content">
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8 > <h2>Calculo A</h2></ion-col>
        <ion-col col-2></ion-col>
      </ion-row>    
    </ion-grid>
  </shrinking-segment-header>

  <ion-toolbar color="educandu_light" mode="md">
    <ion-segment class="segment" color="dark" mode="md" [(ngModel)]="selectedSegment"  >
      <ion-segment-button  value="first">
        <ion-icon name="folder-open"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="second">
        <ion-icon name="contacts"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="third">
        <ion-icon name="albums"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >
      <div [ngSwitch]="selectedSegment">
          <ion-list *ngSwitchCase="'first'">
              <ion-item>
                 <ion-thumbnail item-left>
                   <img src="img/women-image1.png">
                 </ion-thumbnail>
                 <h2>Cothing</h2>
               </ion-item>
               <ion-item>
                 <ion-thumbnail item-left>
                   <img src="img/women-image1.png">
                 </ion-thumbnail>
                 <h2>Watches</h2>
               </ion-item>
               <ion-item>
                 <ion-thumbnail item-left>
                   <img src="/img/women-image1.png">
                 </ion-thumbnail>
                 <h2>Footwear</h2>
               </ion-item>
            </ion-list>
          <ion-row *ngSwitchCase="'second'">
              <ion-col col-12>
                <ion-card>
                  <ion-item>
                    <ion-avatar item-start>
                      <img src="assets/icon/perfil.jpg">
                    </ion-avatar>
                      <h2>Sahusa Carlos</h2>
                      <p>18 de Janeiro</p>
                  </ion-item>
                  <ion-card-content>
                    <ion-card-title>
                      Recomendação de Livro
                      </ion-card-title>
                    <p>
                      Alguém conhece algum livro interessante de aprendizagem de máquina? Socorro!
                    </p>
                  </ion-card-content>
                  <ion-row>
                      <ion-col>
                        <button ion-button icon-left clear small>
                          <ion-icon name="thumbs-up"></ion-icon>
                          <div>12 Gostei</div>
                        </button>
                      </ion-col>
                      <ion-col>
                        <button ion-button icon-left clear small (click)="createComment()">
                          <ion-icon name="text"></ion-icon>
                          <div>4 Comentários</div>
                        </button>
                      </ion-col>
                    </ion-row>
                </ion-card>
              </ion-col>
              <ion-col col-12>
                  <ion-card>
                    <ion-item>
                      <ion-avatar item-start>
                        <img src="assets/icon/perfil.jpg">
                      </ion-avatar>
                        <h2>Sahusa Carlos</h2>
                        <p>18 de Janeiro</p>
                    </ion-item>
                    <ion-card-content>
                      <ion-card-title>
                        Recomendação de Livro
                        </ion-card-title>
                      <p>
                        Alguém conhece algum livro interessante de aprendizagem de máquina? Socorro!
                      </p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
            </ion-row>
          <ion-list *ngSwitchCase="'third'">
              <ion-col col-12>
                  <ion-card>
                    <ion-item>
                      <ion-avatar item-start>
                        <img src="assets/icon/doria.jpg">
                      </ion-avatar>
                        <h2>Sahusa Carlos</h2>
                        <p>18 de Janeiro</p>
                    </ion-item>
                    <ion-card-content>
                      <ion-card-title>
                          Campus Mobile
                        </ion-card-title>
                      <p>
                        Para quem gosta de empreender
                      </p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col col-12>
                    <ion-card>
                      <ion-item>
                        <ion-avatar item-start>
                          <img src="assets/icon/doria.jpg">
                        </ion-avatar>
                          <h2>Sahusa Carlos</h2>
                          <p>18 de Janeiro</p>
                      </ion-item>
                      <ion-card-content>
                        <ion-card-title>
                          Palestra: Como aprender a ler
                          </ion-card-title>
                        <p>
                          Biblioteca Central da UFBA
                        </p>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
         </ion-list>
        </div>
        <ion-fab right bottom>
          <button ion-fab color="educandu_clight" (click)="createPost()"><ion-icon name="create"></ion-icon></button>
      </ion-fab>
</ion-content>