<ion-header>

  <ion-navbar>
    <ion-title>Crie um Grupo</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding id="register">
   <ion-grid>
    <div *ngIf="!hideForm">
           <form [formGroup]="form">
              <ion-list>

                    <ion-item class="box-register">
                       <ion-input
                         class="register_input"
                          type="text"
                          placeholder="Matéria"
                          formControlName="discipline"
                          [(ngModel)]="discipline"></ion-input>
                    </ion-item>

                    <ion-item class="box-register">
                       <ion-input
                         class="register_input"
                          type="text"
                          placeholder="Digite seu Professor"
                          formControlName="teacher"
                          [(ngModel)]="teacher"></ion-input>
                    </ion-item>

                    <ion-item class="box-register">
                       <ion-input
                         class="register_input"
                          type="text"
                          placeholder="Semestre"
                          formControlName="semester"
                          [(ngModel)]="semester"></ion-input>
                    </ion-item>
                    <button color="educandu_dark" (click)="saveEntry()" ion-button block >Criar</button>

              </ion-list>

           </form>
        </div>
  </ion-grid>


</ion-content>
