page-register {
    #register{
      background: color($colors, educandu);
      margin-bottom: 100px;
      img { display: block; width: 100%; margin-bottom: 20%;margin-top: 30%;}
      .register_input{
        border: 2px solid #dedede;
        border-radius: 3px;
        margin-bottom: 9px;
        background: #ededed;
      }
      .box-register{
        background: color($colors, educandu);
      }

    }
      .list-md .item-input:last-child { border-bottom: none; }
      .list-md .item-block .item-inner { border-bottom: none; }
      .hr-text {
       line-height: 1em;
       position: relative;
       outline: 0;
       border: 0;
       color: white;
       text-align: center;
       height: 1.5em;
       opacity: 2;
       background: color($colors, educandu);
       &:before {
         content: '';
         // use the linear-gradient for the fading effect
         // use a solid background color for a solid bar
         background: linear-gradient(to right, transparent, #fff, transparent);
         position: absolute;
         left: 0;
         top: 50%;
         width: 100%;
         height: 1px;
       }
       &:after {
         content: attr(data-content);
         position: relative;
         display: inline-block;
         color: black;

         padding: 0 .5em;
         line-height: 1.5em;
         // this is really the only tricky part, you need to specify the background color of the container element...
         color: #fff;
         background: color($colors, educandu);
      }
    }

}
