<ion-header>
  <ion-navbar>
    <ion-title>Registre-se</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content padding id="register">
  <ion-grid>
    <div *ngIf="!hideForm">
      <form [formGroup]="form">
        <ion-list>
          <ion-item class="box-register">
            <ion-input
              class="register_input"
              type="text"
              [(ngModel)]="name"
              formControlName="name"
              placeholder="Digite seu nome">     
            </ion-input>
          </ion-item>

          <ion-item class="box-register">
            <ion-input
              class="register_input"
               type="text"
               placeholder="Data de nascimento"
               [(ngModel)]="date_birth"
               formControlName="date_birth">
            </ion-input>
         </ion-item>

          <ion-item class="box-register">
            <ion-input
              class="register_input"
              type="text"
              [(ngModel)]="institution"
              formControlName="institution"
              placeholder="Instituição">     
            </ion-input>
          </ion-item>

          <ion-item class="box-register">
            <ion-input
              class="register_input"
               type="text"
               placeholder="Curso"
               [(ngModel)]="course"
               formControlName="course">
            </ion-input>
          </ion-item>
        
          <ion-item class="box-register">
            <ion-input
                class="register_input"
                type="email"
                [(ngModel)]="email"
                formControlName="email"
                placeholder="Email">                      
            </ion-input>
          </ion-item>

          <ion-item class="box-register">
            <ion-input
                class="register_input"
                type="password"
                [(ngModel)]="password"
                formControlName="password"
                placeholder="Senha">                      
            </ion-input>
          </ion-item>

        
          
          <button [color]="myColor" ion-button block (click)="saveEntry()" [disabled]="!form.valid">Registre-se</button>
        </ion-list>
      </form>
    </div>
  </ion-grid>
</ion-content>
  
