<ion-header>

    <ion-navbar>
      <ion-title>Crie sua Postagem</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding id="register">
     <ion-grid>
      <div>
          <form >
              <ion-list>
                  <ion-item class="box-register">
                      <ion-label stacked>Texto</ion-label>
                      <ion-input
                        class="register_input"
                        type="text"
                        placeholder="Título"
                        
                        ></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label stacked>Texto</ion-label>
                      <ion-textarea ></ion-textarea>
                    </ion-item>

                  <button color="educandu_dark" ion-button block (click)="createPost()">Criar</button>
            </ion-list>
          </form>
      </div>
    </ion-grid>
  
  </ion-content>