page-tabs {
    .ion-ios-first, .ion-ios-first-outline {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-image: url('assets/icon/favicon.ico');
    }

    .ion-ios-first-changed, .ion-ios-first-changed-outline {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-image: url('other_url');
    }
}
