
<ion-tabs color="educandu" >
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Pesquisar" tabIcon="md-search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Grupo" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mural" tabIcon="md-create"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mapa" tabIcon="md-pin"></ion-tab>
</ion-tabs>
